@font-face {
    font-family: 'robotolight';
    src: url('/assets/roboto-light-webfont.eot');
    src: url('/assets/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/roboto-light-webfont.woff2') format('woff2'),
         url('/assets/roboto-light-webfont.woff') format('woff'),
         url('/assets/roboto-light-webfont.ttf') format('truetype'),
         url('/assets/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}